 .adminProfileDashboardWrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f97316;
 }

.adminProfile {
  width: 40%;
  min-width: 320px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f97316;
  box-shadow: 0 0 8px #eee;
}

.adminDashboardMainContent {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
}

.mainCard {
  width: 100%;
  margin-top: 24px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  margin-top: 24px;
}

.logoutButton {
  background: #ea580c;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  top: 200px;
  right: 50px;
}

.logoutButton:hover {
  background: #c2410c;
}