.footer {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #f97316;
}

.footer p{
    margin: 0;
    padding-bottom: 10px;
}